header {
  text-align: center;
  margin-top: 24px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 8px;
}

p {
  font-size: 0.9rem;
  color: #666;
}

ul {
  display: flex;
}

li{
  list-style: none;
  margin-left: 20px;
}