.fav-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 2px 25px;
  border-radius: 25px; /* 丸みをつけてモダンに */
  border: 2px solid #fff01f;
  background-color: #fff200;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.fav-button:hover {
  transform: translateY(-2px); /* 浮き上がるアニメーション */
  box-shadow: 0 4px 12px rgba(255, 75, 92, 0.2);
  background-color: #fff200;
}

.fav-button.active {
  background-color: white;
  color: #fff200;
}

.fav-button .icon {
  font-size: 1.7rem;
}