header{
  position: sticky;
  top: 0rem;
  z-index: 30;
}

.title-nav {
  background-color: #00dfb2;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* 縦方向に要素を並べる */
  justify-content: center;
  /* 主軸（縦）で中央揃え */
  align-items: center;
  /* 交差軸（横）で中央揃え */

  color: white;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 1rem;
}

.nav-links {
  padding-left: 0%;
  justify-content: center;
  display: flex;
  gap: 6rem;
  list-style: none;
}

.nav-link a {
  /* 共通設定 */
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding: 5px 0; /* 下線のために上下に少しスペースを確保 */
  position: relative; /* 疑似要素（下線）を配置するための基準 */
}

/* 下線（疑似要素）の初期設定 */
.nav-link a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0; /* 最初は幅を0にして見えないようにする */
  height: 2px;
  justify-content: center;
  background-color: #ffffff; /* アクセントカラー */
  transition: width 0.3s ease-in-out; /* アニメーションの設定 */
}

/* ホバー時の動作 */
.nav-link a:hover::after {
  width: 7rem; /* ホバー時に幅を100%にして、ラインをスライドインさせる */
}