.App{
  min-height: 100vh;
  align-items: center;
  text-align: center;
}

/* 画面の下端に固定し、幅を画面全体にする */
footer {
  position: fixed;
  bottom: 3%;
  left: 0;
  width: 100%;
  z-index: 100;
  font-size: 1rem;
  padding-top: 7%;
  background-color: white;
  border-top: 1px solid #ddd;
}

  /*postion: fixedをheaderやfooterで使用する場合、必要*/
main{
  margin-top: 50px; 
  margin-bottom: 40px;
}

/*#root {
  margin: 0 auto;
}*/

img {
  width: 100%;
}

.photo-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 2rem;
  margin: 1rem;
}

/* 画像リストを中央に配置・整列 */
/*.photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-top: 24px;
}*/

/* 画像サイズとスタイル */
/*.photo-list img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}*/

/* ホバー時に拡大 */
.photo-list img:hover {
  transform: scale(1.1);
}


/* フォームの見た目を整える */
form {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 0.5rem;
  
}

input[type="text"] {
  padding: 1rem;
  width: 20rem;
  border: 2px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 1rem 1.5rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #015692;
}
